<h1><%= @product_model.name %></h1>

<dl>
  <dt>Fornecedor:</dt>
  <dd><%= @product_model.supplier.brand_name%></dd>
  <dt>SKU:</dt>
  <dd><%= @product_model.sku%></dd>
  <dt>Dimensão:</dt>
  <dd><%= @product_model.height%>cm x <%= @product_model.width%>cm x <%= @product_model.depth%>cm</dd>
  <dt>Peso:</dt>
  <dd><%= @product_model.weight%>g</dd>
</dl>