<h1>Resultados da Busca por: <%= @code %></h1>

<p><%= @orders.count %> <%= Order.model_name.human(count: @orders.count ).downcase %> <%= t(:found, count: @orders.count) %></p>
<% if @orders.any? %>
  <% @orders.each do |order|%>
    <%= render order%>
  <% end %>
<% end %>