<h1>Detalhes do Pedido</h1>
<h2><%= Order.model_name.human %> <%= @order.code %></h2>
<dl>
  <dt><%= Order.human_attribute_name('warehouse_id')%>:</dt>
  <dd><%= @order.warehouse.full_description %></dd>
  <dt><%= Order.human_attribute_name('supplier_id')%>:</dt>
  <dd><%= @order.supplier.full_description %></dd>
  <dt><%= Order.human_attribute_name('estimated_delivery_date')%>:</dt>
  <dd><%= I18n.localize(@order.estimated_delivery_date) %></dd>
  <dt><%= Order.human_attribute_name(:status)%>:</dt>
  <dd><%= t(@order.status) %></dd>
  <dt><%= Order.human_attribute_name('user_id')%>:</dt>
  <dd><%= @order.user.description%></dd> 
</dl>

<h2>Itens do Pedido</h2>

<%= link_to 'Adicionar Item', new_order_order_item_path(order_id: @order.id) %>

<% @order.order_items.each do |item| %>
  <p><%= item.quantity %> x <%= item.product_model.name %></p>
<% end %>

<% if @order.pending?%>
  <%= button_to 'Marcar como ENTREGUE', delivered_order_path(@order.id) %>
  <%= button_to 'Marcar como CANCELADO', canceled_order_path(@order.id) %>
<% end %>

<%= link_to 'Editar', edit_order_path(@order.id) %>