<h1>Fornecedor <%= @supplier.brand_name%></h1>
<h2><%= @supplier.corporate_name%></h2>

<dl>
  <dt>Documento:</dt>
  <dd><%= @supplier.registration_number %></dd>
  <dt>Endereço:</dt>
  <dd><%= @supplier.full_address %> - <%= @supplier.city%> - <%= @supplier.state%></dd>
  <dt>E-mail:</dt>
  <dd><%= @supplier.email %></dd>
</dl>

<%= link_to 'Editar', edit_supplier_path(@supplier) %>

<div>
  <%= link_to 'Voltar', root_path %>
</div>