<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Galpões & Estoque</h1>
      <nav>
        <%= link_to 'Fornecedores', suppliers_path%> | <%= link_to 'Modelos de Produtos', product_models_path%>
      </nav>
    </header>
    <main>
      <div>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
